Source: pt-recovery
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.8
Homepage: https://pi-top.com/

Package: pt-recovery
Architecture: all
Depends: ${misc:Depends}
Description: pi-topOS recovery partition
 Installs files relating to pi-topOS recovery partition.
