#!/usr/bin/make -f

export TMPDIR := $(shell mktemp -d)

%:
	dh $@

override_dh_install:
	unsquashfs -f -d $(TMPDIR) recovery/recovery.rfs

	cp squashfs/init $(TMPDIR)
	cp squashfs/pt-os-installer $(TMPDIR)

	mksquashfs $(TMPDIR) recovery/recovery.rfs

	rm -rf $(TMPDIR)

	dh_install
